<%- todos.map(todo => `
<tr class="todos-container-row">
    <td>
        <form>
            <input type="hidden" name="id" value="${todo.id}" />
            <input type="checkbox" name="todo-done" ${todo.done ?
            'checked="checked"' : undefined} hx-trigger="change" hx-put="/todo"
            />
        </form>
    </td>
    <td>
        <form>
            <input type="hidden" name="id" value="${todo.id}" />
            <input
                name="title"
                type="text"
                hx-put="/todo"
                hx-trigger="keyup delay:500ms"
                value="${todo.title}"
            />
        </form>
    </td>
    <td>
        <a
            href="#"
            hx-delete="/todo/${todo.id}"
            hx-target="#todo-list"
            hx-swap="innerHTML swap:200ms"
            >Delete</a
        >
    </td>
</tr>
`).join(""); %>
