<table class="todos-container">
    <thead>
        <tr class="todos-container-row">
            <th>Status</th>
            <th>Title</th>
            <th>Actions</th>
        </tr>
    </thead>
    <tbody>
        <%- include("./todo-list-body", {todos}) %>
    </tbody>
</table>
